body {
  margin: 0px;
}

.stretch {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-container {
  font-size: 0;
}

.nav-container {
  display: inline-block;
  width: 70%;
  min-width: 800px;
  margin-left: 10%;
}

.nav-item {
  height: 100%;
  width: 25%;
  display: inherit;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-item:hover {
  background-color: #577086
}

.nav-item p {
  font-size: 18px;
  color: white;
  height: 100%;
  margin: 0;
  line-height: 50px;
}

.site-body {
  opacity: 0.3;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.info-container {
  height: 450px;
}

.info-body {
  top: 75px;
  height: 350px;
  width: 55%;
  min-width: 700px;
  margin: auto;
  margin-top: 75px;
}

.info-body img {
  height: 100%;
  float: left;
}

.text-container {
  font-family: Sans-serif;
  margin-right: 50px;
  float: right;
  width: 350px;
}

.text-container .nav-item {
  height: 40px;
  width: 90px;
  border-style: double;
}

.text-container .nav-item p {
  line-height: 40px;
  color: #1A3541;
}

.text-container .title {
  text-align: center;

}

.gallery-container {
  height: 600px;
  background-color: #1A3541;
  display: inline-block;
  overflow: hidden;
}

.image-gallery-slide {
  height: 100%;
  display: inherit;
}

.image-gallery-slide img{
  max-width: 400px;
  max-height: 60%;
}

.gallery-container.button {
  top: '50%',
  position: 'absolute',
  border: '0px',
  cursor: 'pointer',
  fontSize: '6em',
  fontFamily: 'Arial, "Helvetica Neue", Helvetica, sans-serif'
}

.button.prev {
  left: '50px';
}

.button.next {
  right: '50px';
}

#cover {
  width: 100%;
}

#navigation {
  background-color: #1A3541;
  height: 50px;
}

