body {
  margin: 0px;
}

.stretch {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-container {
  font-size: 0;
}

.nav-container {
  display: inline-block;
  width: 100%;
}

.nav-item {
  height: 100%;
  width: 25%;
  display: inherit;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-item:hover {
  background-color: #577086
}

.nav-item p {
  font-size: 18px;
  color: white;
  height: 100%;
  margin: 0;
  line-height: 50px;
}

.site-body {
  opacity: 0.3;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.text-container {
  margin: 20px;
  font-family: Sans-serif;
  display: block;
}

.text-container p{
  width: 100%;
}

.image-container {
  width:100%;
}

.image-container img {
  width: 100%;
}

@media (min-width: 600px) {
  .text-container {
    float: right;
    width: 40%;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .info-body {
    width: 65%;
    margin: auto;
  }

  .image-container {
    margin-top: 75px;
    margin-bottom: 75px;
    float: left;
    width: 40%;
  }
}

.text-container .nav-item {
  height: 40px;
  width: 90px;
  border-style: double;
}

.text-container .nav-item p {
  line-height: 40px;
  color: #1A3541;
}

.text-container .title {
  text-align: center;

}

.gallery-container {
  height: 700px;
  background-color: #1A3541;
  display: inline-block;
  overflow: hidden;
}

.image-gallery-slide {
  width: 33%;
  height: 100%;
  display: inherit;
}

.image-gallery-slide img{
  max-width: 400px;
  max-height: 60%;
  display: block;
  margin: auto;
  padding-top: 10%;
}

.image-gallery-slide p{
  color: white;
  font-family: sans-serif;
  display: block;
}

.image-gallery-slide .description{
  max-width: 80%;
  display: block;
  margin: auto;
}

.gallery-container.button {
  top: '50%';
  position: 'absolute';
  border: '0px';
  cursor: 'pointer';
  fontSize: '6em';
  fontFamily: 'Arial, "Helvetica Neue", Helvetica, sans-serif';
}

.button.prev {
  left: '50px';
}

.button.next {
  right: '50px';
}

#cover {
  width: 100%;
}

#navigation {
  background-color: #1A3541;
  height: 50px;
}

@media (min-width: 800px) {
  .nav-container {
    width: 70%;
    margin-left: 15%;
  }
}

